<div class="footer pt-5">
    <div class="inner-bar container-sm">
        <div class="row">
            <div class="col">
                <div>
                    Platform development and research<br>
                    <a href="https://art3mis.cloud" target="_blank">http://art3mis.cloud</a>
                </div>
                <div class="mt-3">
                    Code and technical documentation<br>
                    <a href="https://gitlab.com/a3mc" target="_blank">https://gitlab.com/a3mc</a>
                </div>
                <div class="mt-4">
                    <a href="https://art3mis.cloud" target="_blank">
                        <img src="assets/img/art3mis.cloud.png" height="80" alt="ART3MIS.CLOUD" />
                    </a>
                </div>
                <div class="mt-2">
                    2022 &copy; ART3MIS.CLOUD
                </div>
            </div>
            <div class="col text-end">
                <div>
                    Casper Network<br />
                    <a href="https://casperlabs.io" target="_blank">https://casperlabs.io</a>
                </div>
                <div class="mt-3">
                    DEVxDAO<br />
                    <a href="https://www.devxdao.com" target="_blank">https://www.devxdao.com</a>
                </div>
                <div class="mt-3">
                    Market data provided by<br />
                    <a href="https://www.coingecko.com/en/coins/casper-network" target="_blank">CoinGecko</a>
                </div>
            </div>
        </div>
    </div>

</div>
