<div class="top-bar">
    <div class="inner-bar container-sm">
        <div class="row">
            <div class="logo col me-5">
                Casper Metrics
            </div>
            <div class="main-links col-sm-4 d-none d-md-block">
                <a routerLink="/" [routerLinkActive]="['link-active']"
                   [routerLinkActiveOptions]="{exact: true}" class="link me-5">Overview</a>
                <a routerLink="/charts" [routerLinkActive]="['link-active']"
                   class="link me-5">Charts</a>
                <a routerLink="/api" [routerLinkActive]="['link-active']"
                   class="link me-5">API</a>
            </div>
            <div class="network col d-none d-md-block">
                <div class="dropdown" #network>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            (click)="showNetworkDropdown = !showNetworkDropdown">
                        {{ apiClientService.network }}
                    </button>
                    <ul class="dropdown-menu" [class.show]="showNetworkDropdown" aria-labelledby="dropdownMenuButton1">
                        <li *ngIf="apiClientService.network !== 'testnet'">
                            <a class="dropdown-item" (click)="changeNetwork( 'testnet' )">
                                testnet
                            </a>
                        </li>
                        <li *ngIf="apiClientService.network !== 'mainnet'">
                            <a class="dropdown-item" (click)="changeNetwork( 'mainnet' )">
                                mainnet
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bars d-md-none">
            <a (click)="setMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
</div>

<div class="mobile-menu-overlay" *ngIf="showMenu">
    <div class="mobile-menu p-5">
        <a routerLink="/" [routerLinkActive]="['link-active']" (click)="setMenu( false )"
           [routerLinkActiveOptions]="{exact: true}" class="link me-5">Overview</a>
        <a routerLink="/charts" [routerLinkActive]="['link-active']" (click)="setMenu( false )"
           class="link me-5">Charts</a>
        <a routerLink="/api" [routerLinkActive]="['link-active']" (click)="setMenu( false )"
           class="link me-5">API</a>
    </div>
    <div class="mobile-menu mobile-networks p-5 mt-2">
        <a [class.link-active]="apiClientService.network === 'mainnet'" class="link me-5"
           (click)="setMenu( false ); changeNetwork( 'mainnet' )">
            Mainnet
        </a>
        <a [class.link-active]="apiClientService.network === 'testnet'" class="link me-5"
           (click)="setMenu( false ); changeNetwork( 'testnet' )">
            Testnet
        </a>
    </div>
</div>
