<div class="top-bar">
    <div class="inner-bar container-sm">
        <div class="row">
            <div class="logo col me-5">
                Casper Metrics
            </div>
            <div class="main-links col-sm-4 d-none d-md-block">
                <a routerLink="/" [routerLinkActive]="['link-active']"
                   [routerLinkActiveOptions]="{exact: true}" class="link me-5">Overview</a>
                <a routerLink="/charts" [routerLinkActive]="['link-active']"
                   class="link me-5">Charts</a>
                <a routerLink="/api" [routerLinkActive]="['link-active']"
                   class="link me-5">API</a>
                <a routerLink="/docs" [routerLinkActive]="['link-active']"
                   class="link me-5">Docs</a>
            </div>
            <div class="network col d-none d-md-block">
                <div class="network-name">Mainnet</div>
            </div>
        </div>
        <div class="bars d-md-none">
            <a (click)="setMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
</div>

<div class="mobile-menu-overlay" *ngIf="showMenu">
    <div class="mobile-menu p-5">
        <a routerLink="/" [routerLinkActive]="['link-active']" (click)="setMenu( false )"
           [routerLinkActiveOptions]="{exact: true}" class="link me-5">Overview</a>
        <a routerLink="/charts" [routerLinkActive]="['link-active']" (click)="setMenu( false )"
           class="link me-5">Charts</a>
        <a routerLink="/api" [routerLinkActive]="['link-active']" (click)="setMenu( false )"
           class="link me-5">API</a>
        <a routerLink="/docs" [routerLinkActive]="['link-active']" (click)="setMenu( false )"
           class="link me-5">Docs</a>
    </div>
</div>
