.top-bar {
    height: 50px;
    background: #fff;
    color: #333;
    padding: 0;

    .inner-bar {
        margin: 0 auto;
        padding: 5px;
        position: relative;

        .bars {
            position: absolute;
            top: -5px;
            right: 15px;
            a, a:visited, a:active, a:hover {
                font-size: 36px;
                color: #7e6161;
                text-decoration: none;
            }
        }

        .row {
            .logo {
                font-weight: bold;
                font-size: 22px;
                color: #e84b36;
            }

            .main-links {
                .link {
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 22px;
                    color: #1e4415;
                    transition: color 0.5s ease-in-out;

                    &.link-active, &:hover {
                        color: #46a627;
                    }
                }
            }

            .network {
                text-transform: capitalize;

                button {
                    text-transform: capitalize;
                }

                .dropdown-toggle {
                    float: right;
                    width: 120px;
                }

                .dropdown-menu {
                    width: 121px;
                    min-width: 121px;
                    right: -1px;
                    top: 35px;

                    li a {
                        padding-left: 22px;
                        cursor: pointer;
                    }
                }
            }
        }

    }

}
