label, .date {
    color: #ccb9;
}

.count-label {
    margin-top: 2px;
}

.date {
    padding-top: 2px;
    white-space: nowrap;
}

.flow-container {
    min-height: 437px;
}

.flow-box {
    position: relative;
    .chart-title {
        font-size: 18px;
        text-align: center;
        color: #ccb;
        font-family: 'M PLUS 1', sans-serif;
        font-weight: bold;
    }
    a.info {
        display: block;
        position: absolute;
        right:-5px;
        top: -10px;
        width:20px;
        height: 30px;
        color:#fff6;
        font-size: 22px;
        cursor: pointer;
        z-index: 100;
        transition: color 0.4s ease-in-out;
        &:hover, &.active {
            color: #fed;
        }
    }
}
