<div class="row mt-5" *ngIf="mode === 'full'">
    <div [class.col-sm-12]="!showInfo"
         [class.col-sm-9]="showInfo">
        <div class="chart-panel p-3">
            <div class="flow-box pt-2">
                <a class="info" (click)="toggleInfo()" [class.active]="showInfo">
                    <i class="fa fa-info-circle"></i>
                </a>
                <div class="chart-title">
                    Transfers Flow
                </div>
                <div *ngIf="!loading" echarts [options]="chartOption" class="flow"
                     (chartClick)="chartClick( $event )"></div>

                <div class="era-control">
                    <div class="row">
                        <div class="col-12">
                            <ngx-slider *ngIf="showSingleSlider"
                                        [(value)]="eraId" [options]="options"
                                        (valueChange)="sliderChange( $event )"
                            ></ngx-slider>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col text-end">
                            <label class="form-label pe-2" for="eraId">
                                Era Id:
                            </label>
                            <input type="number" [(ngModel)]="eraId" name="eraId" id="eraId"
                                size="5" [min]="options.floor || 0" [max]="options.ceil || 0" />
                        </div>
                        <div class="col text-start">
                            <div class="date" title="Era Time">
                                {{ eraStart | date: 'medium' }}
                                &mdash;
                                {{ eraEnd | date: 'shortTime' }}
                            </div>
                        </div>
                        <div class="col text-end">
                            <label class="form-label count-label">
                                Total tx count: {{ count }}
                            </label>
                        </div>
                        <div class="col text-end">
                            <label class="form-label pe-2" for="eraId">
                                Limit:
                            </label>
                            <select name="limit" [(ngModel)]="limit" (change)="getTransfers( eraId )">
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                                <option>90</option>
                                <option>100</option>
                                <option>200</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3" *ngIf="showInfo">
        <div class="chart-panel p-3 transfers-info" *ngIf="!txInfo">
            Explore transfers flow using a Sankey diagram. Select an Era by using controls or by
            clicking any value in other charts. Click on the transfer or an account for more details.
            <br /><br />
            As transfer chains might have loops, a duplicate of an account starting with "dup" may be created
            in such case for a better readability.
            <br /><br />
            Thicker lines mean larger transfer amounts. Only the largest transfers of the selected Era are displayed.
            You can control the limit of displayed TXs by using the "limit" control at the bottom right.
        </div>
        <div class="chart-panel p-3 transfers-info tx-info" *ngIf="txInfo">
            <div class="info-header">Transaction Details</div>
            <div class="mt-4">
                <span class="label">Date:</span>
                {{ txInfo.timestamp | date : 'medium' }} UTC
            </div>
            <div class="mt-2">
                <span class="label">Era:</span>
                {{ txInfo.eraId }}
            </div>
            <div class="mt-2">
                <span class="label">Block Height:</span>
                {{ txInfo.blockHeight }}
            </div>
            <div class="mt-2">
                <span class="label">Amount:</span>
                &nbsp;<b>{{ txInfo.value | number: '1.0-2' }}</b> CSPR<br />
                <span class="dollar-price">
                    ~${{ txInfo.value * dataService.price | number: '1.2-2' }} (current rate)
                </span>
            </div>
            <div class="mt-3">
                <span class="label">From:</span>
                <span class="address from">{{ txInfo.from || txInfo.source }}</span>
                <i class="fa fa-copy" ngxClipboard [cbContent]="txInfo?.from || txInfo?.source"></i>
            </div>
            <div class="mt-3">
                <span class="label">To:</span>
                <span class="address to">{{ txInfo.to || txInfo.target }}</span>
                <i class="fa fa-copy" ngxClipboard [cbContent]="txInfo?.to || txInfo?.target"></i>
            </div>
            <div class="mt-3">
                <span class="label">Deploy Hash:</span>
                <span class="address deploy-hash">{{ txInfo.deployHash }}</span>
                <i class="fa fa-copy" ngxClipboard [cbContent]="txInfo?.deployHash"></i>
            </div>
        </div>
    </div>
</div>
<div class="flow-container" *ngIf="mode !== 'full'">
    <h4 class="text-center mt-3" title="Era {{ eraId }}">Transfers Flow (last completed Era)</h4>
    <div *ngIf="!loading" echarts [options]="chartOption" class="flow" ></div>
</div>

