<div class="info-bar">
    <div class="info-bar-inner">
        <div class="bars row">
            <div class="col-sm-4 left-bar">
                s
            </div>
            <div class="col-sm-8 right-bar p-5">
                <div class="row">
                    <div class="col-sm-4 info-box">
                        <div class="label">
                            Current Era
                        </div>
                        <div class="value">
                            {{ lastBlock?.eraId }}
                        </div>
                    </div>
                    <div class="col-sm-4 info-box">
                        <div class="label">
                            Block Height
                        </div>
                        <div class="value">
                            {{ lastBlock?.blockHeight }}
                        </div>
                    </div>
                    <div class="col-sm-4 info-box">
                        <div class="label">
                            Current Price
                        </div>
                        <div class="value">
                            ${{ price | number: '1.3-3' }}
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-4 info-box">
                        <div class="label">
                            Total Supply
                        </div>
                        <div class="value">
                            {{ lastBlock?.totalSupply | number }}
                        </div>
                    </div>
                    <div class="col-sm-4 info-box">
                        <div class="label">
                            Circulating Supply
                        </div>
                        <div class="value">
                            {{ lastBlock?.circulatingSupply | number }}
                        </div>
                    </div>
                    <div class="col-sm-4 info-box">
                        <div class="label">
                            Validators Weights
                        </div>
                        <div class="value">
                            {{ lastEra?.validatorsWeights | number }}
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-4 info-box">
                        <div class="label">
                            Deploys
                        </div>
                        <div class="value">
                            16854
                        </div>
                    </div>
                    <div class="col-sm-4 info-box">
                        <div class="label">
                            Transfers
                        </div>
                        <div class="value">
                            111252
                        </div>
                    </div>
                    <div class="col-sm-4 info-box">
                        <div class="label">
                            Block Time
                        </div>
                        <div class="value">
                            65ms
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
