<div class="row mt-5">
    <div [class.col-sm-12]="!showInfo"
         [class.col-sm-9]="showInfo">
        <div class="chart-panel p-3">
            <div class="weights-box">
                <a class="info" (click)="toggleInfo()" [class.active]="showInfo">
                    <i class="fa fa-info-circle"></i>
                </a>
                <div class="chart-title">
                    Validators Weights
                </div>
                <div *ngIf="!loading" echarts [options]="chartOption" class="weights"
                     (chartClick)="chartClick( $event )"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-3" *ngIf="showInfo">
        <div class="chart-panel p-3 weights-info" *ngIf="!weightsInfo">
            Chart shows the total validators weight.
            <br><br>
            Click on chart values for more details.
        </div>

        <div class="chart-panel p-3 transfers-info" *ngIf="weightsInfo">
            <div class="info-header">Weights Details</div>
            <div class="mt-4">
                <span class="label">Era Id: </span>
                {{ weightsInfo.id }}
            </div>
            <div class="mt-2">
                <span class="label">Era Blocks: </span>
                {{ weightsInfo.startBlock }} &mdash; {{ weightsInfo.endBlock }}
            </div>
            <div class="mt-2">
                <span class="label">Era Start: </span>
                {{ weightsInfo.start | date: 'medium' }}
            </div>
            <div class="mt-2">
                <span class="label">Era End: </span>
                {{ weightsInfo.end | date: 'medium' }}
            </div>
            <div class="mt-2">
                <span class="label">Weights: </span>
                {{ weightsInfo.validatorsWeights | number: '1.0-2' }}
            </div>
        </div>
    </div>
</div>




