.map-container {
  height: 490px;
  .map-frame {
    border: 2px solid #222;
    height: 400px;
    #map {
      height: 100%;
      filter: invert(1) hue-rotate(-180deg) brightness(1.8);

    }
  }
}



