.map-container {
	height: 459px;
	&.map-full {
		height: 560px;
	}

	.map-frame {
		border: 2px solid #222;
		height: 400px;

		#map {
			height: 100%;
		}

		.map-legend {
			padding-top: 8px;
			text-align: center;
			font-size: 12px;
			font-family: 'M PLUS 1', sans-serif;
			color: #c3c2b2;
			.map-legend-circle {
				display: inline-block;
				border-radius: 50px;
				width: 9px;
				height: 9px;
				background: #3bc700;
				margin-right: 1px;
			}
		}

		.leaflet-tile-pane {
			filter: saturate(0) sepia(0.25) hue-rotate(180deg) brightness(0.7) contrast(1.9);
		}
		.leaflet-container {
			background: linear-gradient(0deg, #d4dae0, #d4dae0, #a0acc0, #a0acc0);
		}
	}
}

.map-box {
	position: relative;

	&.map-box-full #map {
		height: 550px;
	}

	.chart-title {
		font-size: 18px;
		text-align: center;
		color: #ccb;
		font-family: 'M PLUS 1', sans-serif;
		font-weight: bold;
	}

	a.info {
		display: block;
		position: absolute;
		right: -5px;
		top: -10px;
		width: 20px;
		height: 30px;
		color: #fff6;
		font-size: 22px;
		cursor: pointer;
		z-index: 100;
		transition: color 0.4s ease-in-out;

		&:hover, &.active {
			color: #fed;
		}
	}
}
