.chart-panel {
	border-radius: 10px;
	background: #fff1;
	transition: box-shadow, background-color 0.2s ease-in-out;
	min-height: 455px;

	&:hover {
		background: #ffffff15;
		box-shadow: 5px 5px 15px #00000015;
	}

	&.tx-info, &.validators-info, &.transfers-info, &.stake-info {
		.label, i.fa-copy {
			color: #fff9;
			white-space: nowrap;
		}

		i.fa-copy:hover {
			color: #fff;
		}

		i.fa-copy {
			cursor: pointer;
		}

		.dollar-price {
			display: block;
			color: #fff9;
			margin-left: 63px;
			font-size: 12px;

			&.recieved {
				margin-left: 58px;
			}

			&.sent {
				margin-left: 35px;
			}
		}

		.address {
			padding-left: 7px;
			padding-right: 7px;
			font-family: monospace;
			word-wrap: break-word;
			overflow-wrap: anywhere;
		}

		.from {
			color: #c9a1a1;
		}

		.to {
			color: #a5c79f;
		}

		.deploy-hash {
			color: #c3c89e
		}

		.info-header {
			font-weight: bold;
			font-size: 16px;
			color: #ccccbb;
		}
	}
}

#flow {
	display: block;
	min-height: 561px;
}

#transactions {
	display: block;
	min-height: 455px
}

#staked {
	display: block;
	min-height: 455px
}

#weights {
	display: block;
	min-height: 455px
}

#market {
	display: block;
	min-height: 462px;
}

#circulating {
	display: block;
	min-height: 455px;
}

#network {
	display: block;
	min-height: 636px;
}

.charts-menu {
	@media screen and (max-width: 1675px) {
		display: none;
	}
	position: fixed;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.15s ease-in-out;
	top: 40px;
	left: 0px;
	list-style: none;
	font-size: 16px;
	line-height: 1.8;
	text-shadow: 0 0 10px #fff2;

	a, a:active, a:visited, a:hover {
		text-decoration: none;
		color: #ccb;
		transition: color 0.2s ease-in-out;
	}

	a:hover {
		color: #ffd;
	}
}
