<div class="container-sm mt-5">
    <ul class="charts-menu" [style.opacity]="showMenu ? 100 : 0">
        <li> <a [routerLink]="['/charts']"  fragment="flow">Transfers Flow</a></li>
        <li> <a [routerLink]="['/charts']"  fragment="transactions">Transactions</a></li>
        <li> <a [routerLink]="['/charts']"  fragment="staked">Staked</a></li>
        <li> <a [routerLink]="['/charts']"  fragment="weights">Validators Weights</a></li>
        <li> <a [routerLink]="['/charts']"  fragment="delegators">Validators/Delegators</a></li>
        <li> <a [routerLink]="['/charts']"  fragment="market">Market Price</a></li>
        <li> <a [routerLink]="['/charts']"  fragment="circulating">Circulating Supply</a></li>
        <li> <a [routerLink]="['/charts']"  fragment="network">Network Map</a></li>
    </ul>


    <app-flow id="flow" [mode]="'full'"></app-flow>
    <app-transfers-full id="transactions" [mode]="'full'"></app-transfers-full>
    <app-stake id="staked"></app-stake>
    <app-weights-full id="weights"></app-weights-full>
    <app-delegators id="delegators"></app-delegators>
    <app-market id="market" [mode]="'full'"></app-market>
    <app-circulating id="circulating"></app-circulating>
    <app-map id="network" [mode]="'full'"></app-map>
</div>


