.swagger-bar {
  background: linear-gradient(90deg, #4c3939, #4c3939, #3c2e2e, #3c2e2e);

  .info-bar-inner {
    min-height: 270px;
    max-width: 1200px;
    margin: 0 auto;

    .bars {
      .left-bar {
        min-height: 270px;
        background-image: url('/assets/img/dots.png');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position-x: right;
      }

      .right-bar {
        min-height: 270px;
        background: #3c2e2e;

        .info-box {
          white-space: nowrap;

          .label {
            font-size: 12px;
            color: #b59999;
          }

          .value {
            font-size: 20px;
          }
        }
      }
    }

  }

}
