.mobile-block {
	.block {
		padding: 26px 30px 20px;
		margin: 15px;
		border: 1px solid #6c6666;
		min-height: 234px;
		background: linear-gradient(45deg, #ffffff07, #ffffff18);
		animation: pulse 2s infinite ease-in-out;
		.label {
			color: #fff9;
		}
	}
}


@keyframes pulse {
	0% {
		backdrop-filter: none;
	}
	50% {
		backdrop-filter: blur(10px) contrast(1.1);
	}
	100% {
		backdrop-filter: none;
	}
}
