<div class="info-bar">
    <div class="container info-bar-inner ps-2 pe-2">
        <div class="bars row g-0">
            <div class="col-sm-4 left-bar">
                <h5 class="sub-title mt-5">
                    <strong>CSPR Metrics API and Historical Archive</strong><br />
                    for Services, Dapps and Analytics
                </h5>
            </div>
            <div class="col-sm-8 right-bar p-5">
                <div class="row">
                    <div class="col-4 info-box">
                        <div class="label">
                            Current Era
                        </div>
                        <div class="value">
                            {{ lastBlock?.eraId }}
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Block Height
                        </div>
                        <div class="value">
                            {{ lastBlock?.blockHeight }}
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Current Price
                        </div>
                        <div class="value">
                            ${{ price | number: '1.3-3' }}
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-4 info-box">
                        <div class="label">
                            Total Supply
                        </div>
                        <div class="value d-none d-md-block">
                            {{ lastBlock?.totalSupply | number }}
                        </div>
                        <div class="value d-md-none">
                            {{ lastBlock?.totalSupply / 1000000 | number: '1.0-0' }}M
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Circulating Supply
                        </div>
                        <div class="value d-none d-md-block">
                            {{ lastBlock?.circulatingSupply | number }}
                        </div>
                        <div class="value d-md-none">
                            {{ lastBlock?.circulatingSupply / 1000000 | number: '1.0-0' }}M
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Validators Weights
                        </div>
                        <div class="value d-none d-md-block">
                            {{ lastEra?.validatorsWeights | number }}
                        </div>
                        <div class="value d-md-none">
                            {{ lastEra?.validatorsWeights / 1000000 | number: '1.0-0' }}M
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-4 info-box">
                        <div class="label">
                            Deploys
                        </div>
                        <div class="value">
                            16854
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Transfers
                        </div>
                        <div class="value">
                            111252
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Block Time
                        </div>
                        <div class="value">
                            65ms
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
