<div class="info-bar">
    <div class="container info-bar-inner ps-2 pe-2">
        <div class="bars row g-0">
            <div class="col-sm-4 left-bar">
                <app-train></app-train>
                <app-era-progress></app-era-progress>
            </div>
            <div class="col-sm-8 right-bar p-5">
                <div class="row">
                    <div class="col-4 info-box">
                        <div class="label">
                            Current Era
                        </div>
                        <div class="value">
                            {{ dataService.lastBlock?.eraId }}
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Block Height
                        </div>
                        <div class="value">
                            {{ dataService.lastBlock?.blockHeight }}
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Current Price
                            <sup title="Market data provided by CoinGecko">*</sup>
                        </div>
                        <div class="value price">
                            ${{ dataService.price | number: '1.4-4' }}
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-4 info-box">
                        <div class="label">
                            Total Supply
                        </div>
                        <div class="value d-none d-md-block">
                            {{ dataService.lastBlock?.totalSupply | number }}
                        </div>
                        <div class="value d-md-none">
                            {{ dataService.lastBlock?.totalSupply / 1000000 | number: '1.0-0' }}M
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Circulating Supply
                        </div>
                        <div class="value d-none d-md-block">
                            {{ dataService.lastBlock?.circulatingSupply | number }}
                        </div>
                        <div class="value d-md-none">
                            {{ dataService.lastBlock?.circulatingSupply / 1000000 | number: '1.0-0' }}M
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Validators Weights
                        </div>
                        <div class="value d-none d-md-block">
                            {{ dataService.lastBlock?.validatorsWeights | number }}
                        </div>
                        <div class="value d-md-none">
                            {{ dataService.lastBlock?.validatorsWeights / 1000000 | number: '1.0-0' }}M
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-4 info-box">
                        <div class="label">
                            Deploys
                        </div>
                        <div class="value">
                            16854
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Transfers
                        </div>
                        <div class="value">
                            111252
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Block Time
                        </div>
                        <div class="value" *ngIf="dataService.lastBlock?.prevBlockTime">
                            {{ dataService.lastBlock?.prevBlockTime / 1000 | number }}s
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
