<div class="info-bar">
    <img class="dots" src="/assets/img/dots.png">

    <div class="container info-bar-inner ps-2 pe-2">
        <div class="bars row g-0">
            <div class="col-sm-4 left-bar">
                <app-train class="d-none d-lg-block"></app-train>
                <app-block class="d-lg-none"></app-block>
                <app-era-progress></app-era-progress>
            </div>
            <div class="col-sm-8 right-bar ps-5 pe-5 pt-3 pb-3">
                <div class="row mt-3">
                    <div class="col-4 info-box">
                        <div class="label">
                            <span class="d-none d-lg-inline">Total </span>Supply
                        </div>
                        <div class="value d-none d-xl-block">
                            {{ dataService.lastBlock?.totalSupply | number }}
                        </div>
                        <div class="value d-xl-none">
                            {{ dataService.lastBlock?.totalSupply / 1000000 | number: '1.0-0' }}M
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Circulating<span class="d-none d-lg-inline"> Supply</span>
                        </div>
                        <div class="value d-none d-xl-block">
<!--                            {{ dataService.lastBlock?.circulatingSupply | number }}-->
                            TBA
                        </div>
                        <div class="value d-xl-none">
<!--                            {{ dataService.lastBlock?.circulatingSupply / 1000000 | number: '1.0-0' }}M-->
                            TBA
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            <span class="d-none d-lg-inline">Validators </span>Weights
                        </div>
                        <div class="value d-none d-xl-block">
                            {{ dataService.lastBlock?.validatorsWeights | number }}
                        </div>
                        <div class="value d-xl-none">
                            {{ dataService.lastBlock?.validatorsWeights / 1000000 | number: '1.0-0' }}M
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-4 info-box">
                        <div class="label">
                            Deploys
                        </div>
                        <div class="value">
                            {{ dataService.deploysCount }}
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Transfers
                        </div>
                        <div class="value">
                            {{ dataService.transfersCount }}
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            <span class="d-none d-lg-inline">Current </span>Price
                            <sup title="Market data provided by CoinGecko">*</sup>
                        </div>
                        <div class="value price">
                            ${{ dataService.price | number: '1.4-4' }}
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="p-3 ps-5 pe-5 dev-banner text-center">
                        <b><span class="text-warning">Attention!</span> Development stage.</b> Some data can be delayed or incorrect.<br>
                    </div>
                </div>

                <div class="row mt-4 d-none">
                    <div class="col-4 info-box">
                        <div class="label">
                            Deploys
                        </div>
                        <div class="value">
                            {{ dataService.deploysCount }}
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Transfers
                        </div>
                        <div class="value">
                            {{ dataService.transfersCount }}
                        </div>
                    </div>
                    <div class="col-4 info-box">
                        <div class="label">
                            Current Price
                            <sup title="Market data provided by CoinGecko">*</sup>
                        </div>
                        <div class="value price">
                            ${{ dataService.price | number: '1.4-4' }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
