.train {
	user-select: none;
	overflow: hidden;
	margin-top: 20px;
	.train-container {
		width: 10000px;
		position: relative;
		left: 0;
		transition: left 1s ease-in-out;
		&.cycle {
			transition: none;
		}
		.block {
			border: 1px solid #36292a;
			border-radius: 5px;
			margin-right: 15px;
			padding: 10px;
			display: inline-block;
			font-size: 12px;
			width: 160px;
			height: 160px;
			overflow: hidden;
			background: #453435;
			box-shadow: 1px 1px 5px #0003;
			transition: all 1s ease-in-out;
			opacity: 0.66;
			.block-height {
				font-size: 14px;
				font-weight: bold;
				margin-bottom: 5px;
				.switch {
					color: #44a626;
				}
			}
			span.label {
				opacity: 0.5;
			}
			&.active {
				border-color: #fff3;
				opacity: 1;
			}
			&.upcoming {
				animation: pulse 2s infinite ease-in-out;
			}
		}
	}
}

@keyframes pulse {
	0% {
		opacity: 0.2;
	}
	50% {
		opacity: 0.9;
	}
	100% {
		opacity: 0.2;
	}
}
