/* You can add global styles to this file, and also import other style files */

@import "assets/css/bootstrap.min.css";
@import "assets/css/swagger.css";
@import "assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css";

html, body {
  height: 100%;
  background: #221c1e;
  color: white;
  font-size: 14px;
  font-family: 'M PLUS 1', sans-serif;
}

h4 {
  font-size: 18px;
  font-family: 'M PLUS 1', sans-serif;
  font-weight: bold;
  color: #ccb;
  margin-top: 0;
  margin-bottom: 16px;
}


.validator-icon {
  overflow: hidden;
  border: 1px solid #d1dfe7;
  background: #77bf04;
  border-radius: 50px;
}
