.map-box {
  position: relative;

  .chart-title {
    font-size: 18px;
    text-align: center;
    color: #ccb;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: bold;
  }

  a.info {
    display: block;
    position: absolute;
    right: -5px;
    top: -10px;
    width: 20px;
    height: 30px;
    color: #fff6;
    font-size: 22px;
    cursor: pointer;
    z-index: 100;
    transition: color 0.4s ease-in-out;

    &:hover, &.active {
      color: #fed;
    }
  }
}

::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-bar {
    background: #ffe4d1;
    height: 2px;
  }

  .custom-slider .ngx-slider .ngx-slider-selection {
    background: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #654;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    color: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: orange;
  }
}

.map-container {
  height: 600px;
  .map-frame {
    border: 2px solid #222;
    height: 600px;
    #map {
      height: 100%;
      filter: invert(1) hue-rotate(-180deg) brightness(1.8);

    }
  }
}
