<div class="row mt-5">
    <div [class.col-sm-12]="!showInfo"
         [class.col-sm-9]="showInfo">
        <div class="chart-panel p-3">
            <div class="flow-box pt-2">
                <a class="info" (click)="toggleInfo()" [class.active]="showInfo">
                    <i class="fa fa-info-circle"></i>
                </a>
                <div class="chart-title">
                    Transfers Flow
                </div>
                <div *ngIf="!loading" echarts [options]="chartOption" class="flow"
                     (click)="clickHandler( $event )"></div>

                <div class="era-control">
                    <div class="row">
                        <div class="col-12">
                            <ngx-slider *ngIf="showSingleSlider"
                                        [(value)]="eraId" [options]="options"
                                        (valueChange)="sliderChange( $event )"
                            ></ngx-slider>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-6 text-end">
                            <label class="form-label pe-2" for="eraId">
                                Era Id:
                            </label>
                            <input type="number" [(ngModel)]="eraId" name="eraId" id="eraId"
                                size="5" min="1" max="1508" />
                        </div>
                        <div class="col-6 text-start">
                            <div class="date" title="Era end">
                                {{ eraEnd | date: 'medium' }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3" *ngIf="showInfo">
        <div class="chart-panel p-3 transfers-info">
            Info here
        </div>
    </div>
</div>

